body {
  margin: 0;
}

.App {
  font-family: sans-serif;
}

.header {
  width: 100%;
  height: 480px;
  background: url("https://images.unsplash.com/37/IHLjdHdzSvi0rgUMMlSK_TE3_0286.jpg")
    no-repeat center 40%;
  background-size: cover;
}
